.bg-dark {
    background-color: rgb(56, 56, 56);
    box-shadow: 1px 1px 2.5px #eaeaea;
}

.text-white {
    color: white;
}

.custom-text {
    font-weight: bold;
    text-transform: capitalize;
}

.custom-image {
    border-radius: 1.25rem;
    
    padding: 0.625rem;
    width: calc(100% - 1.25rem);
}

.custom-buttons button, .custom-buttons div {
    border-color: white;
    color: white;
}

.shopping-card {
    border-left: 1px solid white;
    bottom: 0;
    padding: 0.625rem;
    position: fixed;
    right: 0;
    top: 0;
}

.shopping-card .buttons {
    background: #444444;
    bottom: -0.625rem;
    left: 0;
    position: absolute;
    right: 0;
    scale: .7;
}
